<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Usuario</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [(ngModel)]="password" type="password">
      </mat-form-field>

      <p *ngIf="loginError" class="error-message">Credenciales incorrectas</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onLogin()">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>